<div class="col-item" id="twitterContainer" >
    <a class="twitter-timeline" href="https://twitter.com/symantecvision" height="444"  data-widget-id="460682637028245504">Tweets by @symantecvision</a>
    <script>
       !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
</div>