.recommendedTable {
    width:100%;
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
    border-left: 1px solid transparent;
    table-layout: fixed;
    background: rgba(255, 255, 255, 0.7);
}

.recommendedTable th{
    font-family: Helvetica Neue;
    font-weight: 200;
}

.recommendedTable tr td >div {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.recommendedTable tr {
    border-bottom: 1px solid #f2f2f2;
    height: 50px;
}

.recommendedTable thead tr {
    height: 44px;
}

.templateSection {
    display: none;
}

/*-- tile style --*/
.recommendedTable .storyTile .image {
    width: 39px;
    height: 39px;
    margin-right: 5px;
}

.recommendedTable .storyTile .title {
    max-height: 20px;
}

.recommendedTable .storyTile .subtitle {
    max-height: 20px;
}

.recommendedStoryTable tr td >span:nth-child(2) {
    max-width: calc(100% - 50px);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


