.logoIcon {
    height:47px;
    width:161px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*-- portrait --*/
@media (max-width: 992px) {
    .logoIcon {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
}