.profileImageContainer .profileImageDefault {
    width: 39px;
    height: 39px;
    vertical-align: middle;
}

.profileImageContainer .profileImage {
    width: 39px;
    height: 39px;
    border-radius: 39px;
    vertical-align: middle;
}

.profileImageContainer{
    display: table;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}