<div class="templateSection">
    <!-- top story pane template -->
    <div id="newStoryTemplate" class="slideContentBlock2 swiper-slide slideStyle1">
        <img class="image"/>
        <div class="overlay"></div>
        <div class="title textTitleColor twoLineTruncate">Title</div>
        <div class="subtitle textSubTitleColor truncate">Subtitle</div>
    </div>
</div>

<div class="col-item" id="newStoryContainer" >
    <section>
        <h2>Featured</h2>
    </section>

    <div class="swiper-container" id="newStorySwiper" style="height: 200px" >
        <div class="swiper-wrapper">
        </div>
    </div>

    <script>

    var newStoryWidget = new function () {

        var itemPrefix = "newStoryPrefix";
        var templateEle = $('#newStoryTemplate');
        var targetContainer =  $('#newStorySwiper .swiper-wrapper');
        var widgetName = 'newStoryWidget';
        var targetEntityName = 'story';
        var specialTileClassName = "newStoryTile";
        var newStorySwiper = null;
        var fetchLimit = 12;


        function setUpSwiper () {
            if (newStorySwiper) {
                newStorySwiper.reInit();
                return;
            }

            var slidesPerView =  'auto';
            newStorySwiper = new Swiper('#newStorySwiper', {
                slidesPerView: slidesPerView,
                offsetPxBefore : 15,
                resizeReInit : true,
                onFirstInit: function () {
                    truncateAllTwoLineText();
                },
                onInit : function (swiper) {
                    truncateAllTwoLineText();
                }
            });
        }

        function truncateAllTwoLineText (){
            $('.twoLineTruncate').each(function() {
                var truncateIndex = 35;
                var entryTitle = $(this).text().trim();
                if (entryTitle.length > truncateIndex) {
                    var chopCharacter = entryTitle.trim().substring(0, truncateIndex) + "…";
                    $(this).text(chopCharacter);
                }
            });
        }


        var startWidget = function () {
            // get new stories
            BTCJSAPIHtmlManager.makeRequest("getNewList?entityName="+targetEntityName+"&limit="+fetchLimit+"&fullRelationshipRecord=true&jsListener="+widgetName+".dataDidFetch");
        }

        var dataDidFetch = function (data) {
            var json = BTCJSAPIHtmlManager.parseJsonData(data);
            if (json) {

                clearOldRecords();

                var result = json.result;

                for (var i = 0; i < result.length; i++) {
                    appendData(result[i]);
                }

                setUpSwiper();
            }
        }

        function clearOldRecords (){
            // clear old records
            targetContainer.html("");
        }

        var appendData = function (record){

            var template =templateEle.clone().attr('id','');
            fillInData(template, record);

            template.attr('id',customItemId(record.id)).addClass(specialTileClassName);
            targetContainer.append(template);

            addRequestTrigger(template,record.id);
            requestImageWithId(record.id);
        }

        var addRequestTrigger = function(jQObj, id) {
            interactionHelper.addTouchEvent(jQObj, function (event) {
                BTCJSAPIHtmlManager.makeRequest("openEntity?entityName="+targetEntityName+"&id=" + id);
            });
        }

        var fillInData = function(jQObj, record) {
            jQObj.find('.title').html(record.title);
            jQObj.find('.subtitle').html(record.authorFirstName + " " + record.authorLastName);
        }

        var customItemId = function (id) {
            return itemPrefix+id;
        }

        function requestImageWithId(itemId) {
            BTCJSAPIHtmlManager.makeRequest("getEntityImage?entityName="+targetEntityName+"&id=" + itemId + "&jsListener="+widgetName+".imageDidFetch");
        }

        function imageDidFetch(data) {

            var json = BTCJSAPIHtmlManager.parseJsonData(data);
            if (json) {
                var fileId = json.requestParameter.id;
                loadImage(customItemId(fileId), json.result);
            }
        }

        function loadImage (itemId, base64Data) {
            var targetObj = $('#'+itemId).find('.image');
            targetObj.attr('src', 'data:image/png;base64,' + base64Data);
        }

        return {
            startWidget:startWidget,
            dataDidFetch : dataDidFetch,
            imageDidFetch: imageDidFetch
        }
    };

    newStoryWidget.startWidget();

    </script>
</div>
