/*#newStorySwiper {*/
    /*margin-left: -15px;*/
/*}*/

#newStoryContainer h2{
    margin: 10px 15px 5px;
    font-weight: 100;
    color: #777777;
    font-size: 18px;
}

.templateSection {
    display: none;
}

 /*slide content*/
.overlay{
    background-color: transparent;
    width: 150px;
    height: 55px;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
}

.slideContentBlock2 {
    /*background-color: #ddd;*/
    position: relative;
    width: 168px;
    height: 200px;
}

.slideContentBlock2 .title{
    max-width: 140px;
    padding: 4px 5px 1px;
    max-height: 35px;
    line-height: 15px;
    font-size: 13px;
    text-align: left;
    overflow: hidden;
    font-family: Helvetica Neue;
}

.slideContentBlock2 .subtitle {
    max-width: 140px;
    padding: 0px 5px 0;
    max-height: 15px;
    line-height: 15px;
    font-size: 11px;
    text-align: left;
    overflow: hidden;
    margin-top: 2px;
}

.slideContentBlock2 .image {
    height: 150px;
    width: 150px;
    margin-right: 20px;
}

.swiper-container#newStorySwiper {
    height: 200px;
    text-align: center;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}