<div class="col-item">
    <div class="templateSection">
        <!-- recommended file tile template -->
        <div id="templateRecommendedFile">
            <span class="clearfix">
                <image class="image"></image>
            </span>
            <span class="clearfix">
                <div class="title textTitleColor truncate"></div>
                <div class="subtitle textSubTitleColor truncate"></div>
            </span>
        </div>
    </div>

    <table class="recommendedTable recommendedFileTable">
        <thead>
        <tr>
            <th class="recommendedTitle textTitleColor truncate">Recommended Files</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        var recommendedFileWidget = new function () {

            var itemPrefix = "recommendedFilePrefix";
            var templateEle = $('#templateRecommendedFile');
            var targetTable =  $('.recommendedFileTable tbody');
            var widgetName = 'recommendedFileWidget';
            var targetEntityName = 'file';
            var specialTileClassName = "fileTile";
            var fetchLimit = 8;

            var startWidget = function () {
                // get recommended stories
                BTCJSAPIHtmlManager.makeRequest("getRecommendedList?entityName="+targetEntityName+"&limit="+fetchLimit+"&fullRelationshipRecord=true&jsListener="+widgetName+".dataDidFetch");
            }

            var dataDidFetch = function (data) {
                var json = BTCJSAPIHtmlManager.parseJsonData(data);
                if (json) {
                    var result = json.result;

                    for (var i = 0; i < result.length; i++) {
                        appendDataToTable(result[i]);
                    }
                }
            }

            var appendDataToTable = function (record){

                var template = templateEle.clone().attr('id','');

                // start fill in record
                fillInData(template, record);

                targetTable.append('<tr><td id='+ customItemId(record.id) +' class="'+specialTileClassName+'">'+ template.html() +'</td></tr>');

                var targetTd = $('#'+customItemId(record.id));

                addRequestTrigger(targetTd, record.id);

                requestImageWithId(record.id);
            }

            var addRequestTrigger = function(jQObj, id) {
                interactionHelper.addTouchEvent(jQObj, function (event) {
                    BTCJSAPIHtmlManager.makeRequest("openEntity?entityName="+targetEntityName+"&id=" + id);
                });
            }

            var fillInData = function(jQObj, record) {
                jQObj.find('.title').html(record.description);
                jQObj.find('.subtitle').html(record.story.title);
            }

            var customItemId = function (id) {
                return itemPrefix+id;
            }

            function requestImageWithId(itemId) {
                BTCJSAPIHtmlManager.makeRequest("getEntityImage?entityName="+targetEntityName+"&id=" + itemId + "&jsListener="+widgetName+".imageDidFetch");
            }

            function imageDidFetch(data) {

                var json = BTCJSAPIHtmlManager.parseJsonData(data);
                if (json) {
                    var fileId = json.requestParameter.id;
                    loadImage(customItemId(fileId), json.result);
                }
            }

            function loadImage (itemId, base64Data) {
                var targetObj = $('#'+itemId).find('.image');
                targetObj.attr('src', 'data:image/png;base64,' + base64Data);
            }

            return {
                startWidget:startWidget,
                dataDidFetch : dataDidFetch,
                imageDidFetch: imageDidFetch
            }
        };

        recommendedFileWidget.startWidget();

    </script>
</div>