.recommendedTable {
    width:100%;
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
    table-layout: fixed;
    border-left: 1px solid transparent;
    background: rgba(255, 255, 255, 0.7);
}

.recommendedTable th{
    font-family: Helvetica Neue;
    font-weight: 200;
}

.recommendedTable tr td >div {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.recommendedTable tr {
    border-bottom: 1px solid #f2f2f2;
    height: 50px;
}

.recommendedTable thead tr {
    height: 44px;
}

.recommendedTable td {
    padding-top: 5px;
}


/*-- tile style --*/
.recommendedTable .fileTile .image {
    width: 30px;
    height: 39px;
    margin-right: 5px;
}

.recommendedTable .fileTile. title {
    max-height: 20px;
}

.recommendedTable .fileTile. subTitle {
    max-height: 20px;
}

.recommendedFileTable tr td >span:nth-child(2) {
    max-width: calc(100% - 45px);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

