<div class="col-item">
    <div class="templateSection">
        <!-- recommended file tile template -->
        <div id="templateFeedSource">
            <div class="title textTitleColor truncate"></div>
        </div>
    </div>

    <table class="feedSourceTable">
        <thead>
        <tr>
            <th class="tableTitle textTitleColor">Feeds</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>

    var feedWidget = new function () {

        var itemPrefix = "feedItemPrefix";
        var templateEle = $('#templateFeedSource');
        var targetTable =  $('.feedSourceTable tbody');
        var widgetName = 'feedWidget';
        var targetEntityName = 'feed';
        var specialTileClassName = "feedTile";

        var startWidget = function () {
            var fetchLimit = 8;
            BTCJSAPIHtmlManager.makeRequest("getList?entityName="+targetEntityName+"&limit="+fetchLimit+"&jsListener="+widgetName+".dataDidFetch");
        }

        var dataDidFetch = function (data) {
            var json = BTCJSAPIHtmlManager.parseJsonData(data);
            if (json) {
                var result = json.result;

                for (var i = 0; i < result.length; i++) {
                    appendDataToTable(result[i]);
                }
            }
        }

        var appendDataToTable = function (record){

            var template = templateEle.clone().attr('id','');

            fillInData(template, record);

            targetTable.append('<tr><td id='+ customItemId(record.id) +' class="'+specialTileClassName+'">'+ template.html() +'</td></tr>');

            var targetTd = $('#'+  customItemId(record.id));

            addRequestTrigger(targetTd, record.id);
        }

        var addRequestTrigger = function(jQObj, id) {
            interactionHelper.addTouchEvent(jQObj, function (event) {
                BTCJSAPIHtmlManager.makeRequest("openEntity?entityName="+targetEntityName+"&id=" + id);
            });
        }

        var fillInData = function(jQObj, record) {
            jQObj.find('.title').html(record.title);
        }

        var customItemId = function (id) {
            return itemPrefix+id;
        }

        return {
            startWidget:startWidget,
            dataDidFetch : dataDidFetch
        }
    }

    feedWidget.startWidget();

    /*Testing*/
//    var tempData = {
//        result:[
//            {title:"a", id:"1"},
//            {title:"b", id:"2"}
//        ]
//    };
//
//    feedWidget.dataDidFetch(JSON.stringify(tempData));

    </script>
</div>