.feedSourceTable {
    width:100%;
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
    table-layout: fixed;
    border-left: 1px solid transparent;
    background: rgba(255, 255, 255, 0.7);
}

.feedSourceTable th{
    font-family: Helvetica Neue;
    font-weight: 200;
}

.feedSourceTable tr td >div {
    margin-top: 5px;
    margin-bottom: 7px;
}

.feedSourceTable tr {
    border-bottom: 1px solid #f2f2f2;
    height: 50px;
}

.feedSourceTable thead tr {
    height: 44px;
}

.feedSourceTable td {
    padding-top: 5px;
}


/*-- tile style --*/
.feedSourceTable .feedTile. title {
    max-height: 20px;
}



